server {
    listen 80;
    server_name {{ server_name }};
    root /var/www/{{ domain }};
    index index.html index.php;

    {% if enable_https %}
    listen 443 ssl;
    ssl_certificate {{ ssl_cert_path }};
    ssl_certificate_key {{ ssl_key_path }};
    {% endif %}

    location / {
        try_files $uri $uri/ /index.php?$args;
    }

    {% if php_socket %}
    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass {{ php_socket }};
    }
    {% endif %}

}